<div class="max-w-md mx-auto p-4 shadow-lg rounded-lg">
  <h2 class="text-2xl font-semibold text-center mb-4" i18n="@@register">Register</h2>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-2">
      <label for="login" class="block text-sm font-medium text-gray-700" i18n="@@username">Username</label>
      <input
        formControlName="login"
        id="login"
        type="login"
        [placeholder]=placeholderusername
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    @if (login?.invalid && login?.touched) {
      @if (login?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n="">Username is required</div>
      }
      @if (login?.errors?.['pattern']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n="">Username can only contain letters, numbers</div>
      }
      @if (login?.errors?.['minlength']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n="">Username has to be more than 6 characters</div>
      }
      @if (login?.errors?.['maxlength']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n="">Username cannot be more than 20 characters</div>
      }
    }

    <div class="mb-2 relative">
      <label for="password" class="block text-sm font-medium text-gray-700" i18n="@@password">Password</label>
      <input
        id="password"
        formControlName="password"
        [type]="passwordHidden ? 'password' : 'text'"
        [placeholder]=placeholderpassword
        class="mt-1 block w-full pl-3 pr-15 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <button type="button" (click)="togglePasswordVisibility()"
              class="absolute inset-y-3.5 right-0 pr-3 flex items-center justify-between min-h-full text-sm leading-4"
              style="width: 2.5rem;">
        <i class="fas" [class]="passwordHidden ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>

    @if (password?.invalid && password?.touched) {
      @if (password?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1  mb-4" i18n="@@passwordisreqi=uired">Password is required</div>
      }
      @if (password?.errors?.['pattern']) {
        <div class="text-red-500 text-sm mt-1 content-center" i18n="">Password must contain:</div>
        <div class="text-red-500 text-sm mt-1" i18n="">At least one uppercase letter</div>
        <div class="text-red-500 text-sm mt-1" i18n="">At least one lowercase letter</div>
        <div class="text-red-500 text-sm mt-1" i18n="">At least one digit</div>
        <div class="text-red-500 text-sm mt-1" i18n="">At least one special character</div>
        <div class="text-red-500 text-sm mt-1" i18n="">Cannot contain empty spaces</div>
        <div class="text-red-500 text-sm mt-1 mb-4" i18n="">Must be longer than 8 chararcters.</div>
      }
    }

    <div class="mb-2">
      <label for="email" class="block text-sm font-medium text-gray-700" i18n="email">Email</label>
      <input
        id="email"
        formControlName="email"
        name="email"
        [placeholder]=placeholderemail
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>

    @if (email?.invalid && email?.touched) {
      @if (email?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1  mb-4" i18n="emailisrequired">Email is required</div>
      }
      @if (email?.errors?.['pattern']) {
        <div class="text-red-500 text-sm mt-1  mb-4" i18n="emailisinvalid">Email is invalid</div>
      }
    }

    <div class="mb-2">
      <label for="firstName" class="block text-sm font-medium text-gray-700" i18n="firstname">First Name</label>
      <input
        id="firstName"
        formControlName="firstName"
        name="firstName"
        [placeholder]=placeholderfirstname
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm mb-1"
      />
    </div>
    @if(firstName?.invalid && firstName?.touched) {
      @if (firstName?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>First Name is required</div>
      }
      @if (firstName?.errors?.['maxlength']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>First Name cannot be more than 40 characters</div>
      }
      @if (firstName?.errors?.['pattern']) {
        <div class="text-red-500 text-sm mt-1 pb-3 mb-4" i18n>First Name cannot contain numbers or special characters</div>
      }
    }

    <div class="mb-2">
      <label for="lastName" class="block text-sm font-medium text-gray-700" i18n="lastname">Last Name</label>
      <input
        id="lastName"
        formControlName="lastName"
        name="lastName"
        [placeholder]=placeholderlastname
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    @if(lastName?.invalid && lastName?.touched) {
      @if (lastName?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>Last Name is required</div>
      }
      @if (lastName?.errors?.['maxlength']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>Last Name cannot be more than 50 characters</div>
      }
      @if (lastName?.errors?.['pattern']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>Last Name cannot contain numbers or special characters</div>
      }
    }
    <div class="mb-2">
      <label for="phone" class="block text-sm font-medium text-gray-700" i18n="phonenumber">Phone Number</label>
      <input
        id="phone"
        formControlName="phone"
        name="phone"
        [placeholder]=placeholderphonenumber
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm mb-1"
      />
    </div>
    @if(phone?.invalid && phone?.touched) {
      @if (phone?.errors?.['required']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>Phone number is required</div>
      }
      @if (phone?.errors?.['pattern']) {
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>Phone number has to start with + and contain only numbers.</div>
        <div class="text-red-500 text-sm mt-1 mb-4" i18n>Phone number has to be between 6 and 14 digits.</div>
      }
    }

    <button type="submit"
            [disabled]="!registerForm.valid"
            class="mt-2 w-full bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-300 text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-indigo-500 dark:focus:ring-indigo-800 disabled:bg-indigo-300 disabled:cursor-not-allowed disabled:text-white disabled:hover:bg-indigo-300 disabled:focus:ring-0"
            i18n="signup">
      Sign up
    </button>
  </form>
</div>
