<div class="w-3/4 max-lg:w-11/12 mx-auto">
    <div class="flex flex-col space-y-4 text-center my-8">
        <h1 class="font-bold md:text-4xl text-xl" i18n="@@waystohelpfindlostpets">Ways to Help Find Lost Pets (Volunteering)</h1>
    </div>
    <div class="flex justify-center my-8">
        <ol class="w-11/12 text-base list-disc space-y-2 py-2 border-y border-zinc-300">
            <li>
                <p i18n="@@VOLUNTEER.1"><span class="font-bold text-lg">Spread Awareness:</span> Share posts about missing pets on your social media accounts and encourage others to do the same. The more people who see the posts, the higher the chances of finding the pet.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.2"><span class="font-bold text-lg">Join Search Parties:</span> Keep an eye out for announcements about search parties in your area and join them. Every extra pair of eyes can make a difference in finding a lost pet.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.3"><span class="font-bold text-lg">Distribute Flyers:</span> Take flyers from local shelters or print your own from the platform and distribute them in your neighborhood, at local businesses, and on community bulletin boards.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.4"><span class="font-bold text-lg">Report Sightings:</span> If you see a pet that matches the description of a missing one, report it immediately to the platform or local animal control. Time is of the essence in reuniting lost pets with their owners.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.5"><span class="font-bold text-lg">Share Expertise:</span> If you have experience with animals or search and rescue operations, consider offering your expertise to help organize search efforts or provide guidance to others.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.6"><span class="font-bold text-lg">Offer Transportation:</span> Volunteer to help transport flyers, supplies, or found pets to and from locations as needed. Your vehicle can be a valuable asset in search efforts.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.7"><span class="font-bold text-lg">Donate Supplies:</span> Donate items such as pet food, blankets, or first aid kits to local shelters or organizations involved in the search for missing pets.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.8"><span class="font-bold text-lg">Be Vigilant:</span> Keep an eye out for lost pet alerts in your area and be vigilant for any signs of a missing pet while you're out and about.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.9"><span class="font-bold text-lg">Attend Events:</span> Participate in community events organized by the platform, such as fundraisers or awareness campaigns, to show your support for reuniting lost pets with their families.</p>
            </li>
            <li>
                <p i18n="@@VOLUNTEER.10"><span class="font-bold text-lg">Educate Others:</span> Spread the word about responsible pet ownership and the importance of microchipping and ID tags to prevent pets from getting lost in the future.</p>
            </li>
        </ol>
    </div>

    <div class="flex justify-center my-4">
        <button
            type="button"
            class="text-nowrap  text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-bold rounded-full md:px-10 md:py-5 px-7 py-3 text-center me-2 mb-2"
            routerLink="/" i18n="@@backtogeneralpage">
            Back to General Page
        </button>
    </div>
</div>