<div class="min-h-dvh items-center justify-center w-3/4 max-lg:w-11/12 mx-auto">
  <div class="flex bg-white w-full pt-10">
    <div class="relative max-sm:hidden">
      <div
        class="w-48 h-48 bg-emerald-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-6 -ml-12 items-center justify-center text-emerald-500"
      >
        <div class="absolute inset-0 flex items-center justify-center">
          <p class="text-center text-xl text-orange-500 bg-orange-200 rounded-full mt-40 px-5 py-1">
            {{ shelterProfile.role }}
          </p>
        </div>
        <img
        src="https://media.istockphoto.com/id/1327592506/vector/default-avatar-photo-placeholder-icon-grey-profile-picture-business-man.jpg?s=612x612&w=0&k=20&c=BpR0FVaEa5F24GIw7K8nMWiiGmbb8qmhfkpXcp1dhQg="
          class="rounded-full"
        />
      </div>
    </div>
    <div
      class="w-full border rounded-lg md:h-36 max-sm:flex max-sm:justify-center max-sm:text-center max-sm:pb-2 border-zinc-800"
    >
      <div class="md:ml-40 mt-3 mx-3">
        <div class="md:flex justify-between">
          <div>
            <h1 class="md:text-4xl max-sm:text-xl max-sm:font-bold font-medium text-zinc-700">
              {{ shelterProfile.shelterName }}
            </h1>
            <button
              class="font-light text-base text-emerald-400 hover:text-emerald-500"
              (click)="openAuthorProfile(shelterProfile.username)"
            >
              {{ shelterProfile.username }}
            </button>
            <p class="mt-4 text-zinc-500 md:text-lg max-sm:text-small">
              Located in: {{ shelterProfile.shelterAddress }}
            </p>
          </div>
          <div class="my-auto mr-3 space-y-2">
            <p class="text-zinc-500 md:text-lg">
              Phone: <span class="pt-1 mr-1 rounded-md"></span
              ><span class="text-emerald-400">{{ shelterProfile.telephone }}</span>
            </p>
            <p class="text-zinc-500 md:text-lg">
              Email: <span class="text-emerald-400">{{ shelterProfile.email }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (shelterProfile.userId) {
  <div class="md:mt-10 mt-4">
    <app-content [author]="shelterProfile.userId"></app-content>
  </div>
  }

  <div class="flex justify-center mt-2">
    <button
      type="button"
      (click)="goBack()"
      class="text-nowrap text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-bold rounded-full md:px-12 md:py-3 px-7 py-3 text-center me-2 mb-2"
      i18n="@@updateprofile"
    >
      Back
    </button>
  </div>
</div>
