<div class="w-3/4 max-lg:w-11/12 mx-auto">
    <div class="flex flex-col space-y-4 text-center my-8">
        <h1 class="font-bold md:text-4xl text-xl" i18n="@@foundpettipns">Found Pet Tips</h1>
    </div>
    <div class="flex justify-center my-8">
        <ol class="w-11/12 text-base list-disc space-y-2 py-2 border-y border-zinc-300">
            <li>
                <p i18n="@@FOUNDTIPS.1"><span class="font-bold text-lg">Assess the Situation</span>: First, make sure the pet is safe and not in immediate danger. Approach cautiously, especially if the pet seems scared or aggressive.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.2"><span class="font-bold text-lg">Check for Identification</span>: Look for any tags, collars, or other forms of identification on the pet. This could provide valuable information on how to contact the owner.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.3"><span class="font-bold text-lg">Scan for Microchip</span>: If possible, take the pet to a local veterinary clinic or animal shelter to have them scanned for a microchip. Many pets have microchips implanted under their skin, which can help identify their owners.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.4"><span class="font-bold text-lg">Take Photos and Note Details</span>: Document the pet's appearance, including any distinctive markings or features. Take clear photos to share on social media and with local animal shelters or community groups.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.5"><span class="font-bold text-lg">Notify Authorities</span>: Contact your local animal control, shelters, and veterinary clinics to report the found pet. They may have information on missing pets in the area or be able to assist in reuniting the pet with its owner.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.6"><span class="font-bold text-lg">Create a report on this website</span>: Use our platform's resources to swiftly create a comprehensive seen pet report. Provide all relevant details about your pet, including breed, color, distinctive markings, and any special considerations.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.7"><span class="font-bold text-lg">Use Social Media</span>: Share information about the found pet on social media platforms like Facebook or Instagram. Include photos, location where the pet was found, and contact information for reaching you or local authorities.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.8"><span class="font-bold text-lg">Reach Out to Local Pet Groups</span>: Contact local pet rescue groups or community pages dedicated to lost and found pets. They may have resources and networks to help spread the word and reunite the pet with its owner.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.9"><span class="font-bold text-lg">Provide Temporary Care</span>: If you're able to, provide temporary care for the pet while efforts are made to find its owner. Ensure the pet has food, water, and a safe place to stay until they can be reunited.</p>
            </li>
            <li>
                <p i18n="@@FOUNDTIPS.10"><span class="font-bold text-lg">Stay Persistent and Patient</span>: Reuniting a lost pet with its owner can take time and effort. Stay persistent in your search efforts and remain patient. Your actions could make a significant difference in bringing a beloved pet back home.</p>
            </li>
        </ol>
    </div>

    <div class="flex justify-center pb-8 border-b border-zinc-300">
        <iframe width="996" height="560" src="https://www.youtube.com/embed/p2eRgKtKjJM" title="How to prevent and deal with lost pets!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="flex justify-center my-4">
        <button
            type="button"
            class="text-nowrap  text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-bold rounded-full md:px-10 md:py-5 px-7 py-3 text-center me-2 mb-2"
            routerLink="/" i18n="@@backtogeneralpage">
            Back to General Page
        </button>
    </div>
</div>
