server {
    listen 80;
    server_name localhost {{ translator_public_ip }};

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/{{ USER }}/LibreTranslate/libretranslate.sock;
    }
}
