input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.autocomplete-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

.button-enabled {
  background-color: #38b2ac;
  color: white;
}

.button-enabled:hover {
  background-color: #2c7a7b;
}

.button-disabled {
  background-color: #a0aec0;
  color: #cbd5e0;
  cursor: not-allowed;
}

label.required::after {
  content: "*";
  color: rgb(239 68 68);
}
