<div class="h-dvh flex items-center justify-center w-3/4 max-lg:w-11/12 mx-auto">
  <div
    class="flex flex-col space-y-8 items-center justify-center md:w-3/5 w-11/12 mx-auto p-5 mb-32"
  >
    <div class="flex flex-col space-y-4 text-center">
      <h1 class="font-bold md:text-6xl text-3xl" i18n="@@PAGENOTFOUND.TITLE">Page not found</h1>
      <p class="md:text-xl text-gray-700" i18n="@@PAGENOTFOUND.DESCRIPTION">The page you are looking for cannot be found</p>
    </div>
    <div class="md:flex md:space-x-6 justify-center">
      <div class="flex justify-center">
        <button
          type="button"
          class="mx-auto text-nowrap text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-bold rounded-full md:px-12 md:py-5 px-16 py-3 text-center md:me-2 mb-2"
          routerLink="/" i18n="@@backtothemainpage"
        >
        Back to the main page 
      </button>
    </div>
    </div>
  </div>
</div>