<div class="w-3/4 max-lg:w-11/12 mx-auto">
    <div class="flex flex-col space-y-4 text-center my-8">
        <h1 class="font-bold md:text-4xl text-xl" i18n="@@lostpetsearchtips">Lost Pet Search Tips</h1>
    </div>
    <div class="flex justify-center my-8">
        <ol class="w-11/12 text-base list-disc space-y-2 py-2 border-y border-zinc-300">
            <li>
                <p i18n="@@LOSTTIPS.1"><span class="font-bold text-lg">Act Quickly</span>: Don't wait to start your search. The sooner you begin, the higher the chance of finding your pet.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.2"><span class="font-bold text-lg">Create a lost pet report in this platform</span>: Use our platform's resources to swiftly create a comprehensive lost pet report. Provide all relevant details about your pet, including breed, color, distinctive markings, and any special considerations.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.3"><span class="font-bold text-lg">Search your lost pet among seen or found reports on this website</span>: Use our platform's search function to browse through seen or found reports of pets in your area. You can filter the results by location or species and even view them on a map to see where sightings or discoveries have occurred. This can help you identify potential leads or sightings of your lost pet and aid in your search efforts.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.4"><span class="font-bold text-lg">Search the Immediate Area</span>: Start by searching your home, yard, and any nearby places your pet might hide or roam.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.5"><span class="font-bold text-lg">Notify Neighbors and Local Businesses</span>: Let your neighbors and nearby businesses know that your pet is missing. They can keep an eye out and may have seen something.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.6"><span class="font-bold text-lg">Use relevant image of your pet</span>: Ensure that the photo you use accurately depicts your pet's appearance. Choose a clear, recent image that clearly shows their face and any distinctive features. This will help people better identify your pet if they come across them.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.7"><span class="font-bold text-lg">Use Social Media</span>: Post a photo and description of your pet on social media platforms. Ask friends and followers to share your post to reach a wider audience.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.8"><span class="font-bold text-lg">Contact Animal Shelters and Veterinary Clinics</span>: Reach out to local animal shelters and vet clinics to see if your pet has been brought in or reported found.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.9"><span class="font-bold text-lg">Create Lost Pet Flyers</span>: Our platform suggests creating a flyer design based on the information provided in your report. This feature streamlines the process of generating eye-catching flyers that can be quickly printed and distributed in your community.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.10"><span class="font-bold text-lg">Search During Quiet Hours</span>: Late at night or early in the morning, when there's less noise and activity, can be the best time to search for a lost pet.</p>
            </li>
            <li>
                <p i18n="@@LOSTTIPS.11"><span class="font-bold text-lg">Don't Give Up</span>: Persistence is key. Keep searching and spreading the word. Many pets are reunited with their owners weeks or even months after going missing.</p>
            </li>
        </ol>
    </div>

    <div class="flex justify-center pb-8 border-b border-zinc-300">
        <iframe width="996" height="560" src="https://www.youtube.com/embed/VKQzDDvTUgc" title="How to find a lost pet: Expert advice to bring your dog or cat home safely" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="flex justify-center my-4">
        <button
            type="button"
            class="text-nowrap  text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-bold rounded-full md:px-10 md:py-5 px-7 py-3 text-center me-2 mb-2"
            routerLink="/" i18n="@@backtogeneralpage">
            Back to General Page
        </button>
    </div>
</div>