<div class="min-h-dvh flex items-center justify-center w-3/4 max-lg:w-11/12 mx-auto max-sm:py-4">
    <div>
        <div class="flex flex-col md:space-y-4 text-center md:mb-10">
            <h1 class="font-bold md:text-6xl text-3xl" i18n="@@tipsandrecources">Tips and Resources</h1>
            <p class="md:text-xl text-gray-700" i18n="@@TIPS.DESCRIPTION">Explore a variety of useful resources suited to your problems or interests.</p>
        </div>
        <div class="md:flex md:justify-between md:space-x-4 max-sm:space-y-4">
            <a class="md:w-1/4 w-2/4 md:mx-0 mx-auto flex flex-col items-center text-center hover:text-emerald-400" routerLink="/tips/lost">
                <img src="assets/footprints.png" class="transition duration-300 ease-in-out transform hover:scale-110 w-10/12">
                <h2 class="md:text-3xl text-xl font-bold" i18n="@@lostpettips">Lost Pet Tips</h2>
                <p class="text-sm text-zinc-500" i18n="@@TIPSLOST.DESCRIPTION">Practical advice and strategies for finding a missing pet.</p>
            </a>
            <a class="md:w-1/4 w-2/4 md:mx-0 mx-auto flex flex-col items-center text-center hover:text-emerald-400" routerLink="/tips/found">
                <img src="assets/dogandcat.png" class="transition duration-300 ease-in-out transform hover:scale-110 w-10/12">
                <h2 class="md:text-3xl text-xl font-bold" i18n="@@foundpettips">Found Pet Tips</h2>
                <p class="text-sm text-zinc-500" i18n="@@TIPSFOUND.DESCRIPTION">Guidance on caring for a pet you have found.</p>
            </a>            
            <a class="md:w-1/4 w-2/4 md:mx-0 mx-auto flex flex-col items-center text-center hover:text-emerald-400" routerLink="/tips/volunteer">
                <img src="assets/humananddog.png" class="transition duration-300 ease-in-out transform hover:scale-110 w-10/12">
                <h2 class="md:text-3xl text-xl font-bold" i18n="@@howtohelp">How to help</h2>
                <p class="text-sm text-zinc-500" i18n="@@VOLUNTEER.DESCRIPTION">Ways to assist in reuniting lost pets with their owners.</p>
            </a>
        </div>
    </div>
</div>